@import 'variables.css';
@import 'base.css';

.central {
    display: grid;
    margin-bottom: -3rem;
    padding: 6rem 0 1rem;
    display: none;
}

.central__title {
    color: var(--first-color);
    display: flex;
    justify-content: center;
}

/*=============== LOCKS ===============*/
.central__locks {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.central__btns {
    display: grid;
}

.central__display {
    position: relative;
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
}

.external1,
.external2 {
    z-index: var(--z-menu);
}

.external2 {
    transform: scaleX(-1);
}

.locks__1,
.locks__2,
.locks__3,
.locks__4 {
    width: 50px;
}

.locks__1:hover, 
.locks__2:hover, 
.locks__3:hover, 
.locks__4:hover {
    cursor: pointer;
}

/*=============== SYSTEM LOCKS ===============*/
.external__locks-1 {
    transform: rotate(-25deg);
    margin-bottom: 1.5rem;
}

.locks__line-1 {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
}

.locks__line-1::after {
    content: "";
    position: absolute;
    bottom: -5.6rem;
    left: 27%;
    width: 46%;
    height: 2px;
    background-color: hsl(36, 63%, 48%);
}

.locks__line-2 {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
}

.locks__line-2::after {
    content: "";
    position: absolute;
    bottom: -2.6rem;
    left: 27%;
    width: 46%;
    height: 2px;
    background-color: hsl(36, 63%, 48%);
}

.locks__line-3 {
    position: absolute;
    width: 50%;
    right: 25%;
    top: 0;
    transform: rotate(90deg);
}

.locks__line-3::after {
    content: "";
    position: absolute;
    bottom: 6.6rem;
    right: -60%;
    width: 46%;
    height: 3px;
    background-color: hsl(36, 63%, 48%);
}

.external__locks-2 {
    transform: rotate(-25deg);
    margin-bottom: 1.5rem;
}

.locks {
    height: 25px;
    width: 100px;
    transform: rotate(-30deg);
    -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
    background-color: hsl(156, 99%, 59%);
}

.internal__locks-1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 20px;
    background-color: hsl(36, 63%, 48%);
}

.internal__locks-2 {
    position: absolute;
    right: 0;
    top: 0;
    height: 10px;
    width: 20px;
    background-color: hsl(36, 63%, 48%);
    transform: scaleX(-1);
}

.alert {
    background-color: red;
}

/*=============== ENERGY ===============*/
.central__energy {
    margin: 0 auto;
}

.energy__main {
    font-weight: var(--font-black);
    border: 2px solid;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 4rem;
}

.energy__level {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: .5rem;
    margin-top: 2rem;
    overflow: hidden;
}
  
.tracks {
width: 60px;
height: 60px;
background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 128, 0, .8) calc(-1 * 3px),
    rgb(0, 200, 0) 0,
    rgb(0, 200, 0) calc(15px - 3px / 2),
    rgba(0, 128, 0, .8) calc(15px + 3px / 2),
    transparent calc(15px + 3px / 2),
    transparent calc(2 * 15px),
    rgba(0, 128, 0, .8) calc(2 * 15px - 3px)
);
}

.tracks__alert {
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(255, 0, 0, .8) calc(-1 * 3px),
      #f23 0,
      #f23 calc(15px - 3px / 2),
      rgba(255, 0, 0, .8) calc(15px + 3px / 2),
      transparent calc(15px + 3px / 2),
      transparent calc(2 * 15px),
      rgba(255, 0, 0, .8) calc(2 * 15px - 3px)
    );
  }