.contact {
    padding: 4.5rem 0 4.5rem 0;
    text-align: center;
}

.contact__box {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.contact__link {
    color: var(--second-color);
}

.contact__arrow {
    font-size: 32px;
    color: var(--second-color);
}

.contact__link:hover {
    cursor: pointer;
    color: var(--alternative-color);
}