@import 'variables.css';
@import 'base.css';

.footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center;
    padding: 4.5rem 0 1rem;
    background-color: var(--alternative-color);
}

.footer__links {
    display: flex;
    gap: 1.25rem;
}

.footer__link {
    font-size: var(--h4-font-size);
    display: flex;
    width: max-content;
    border-radius: .5rem;
    padding: .75rem;
    background-color: var(--first-color); 
}

.footer__link:hover {
    border-radius: 1rem;
    background-color: var(--first-color-alt);
    transition: .3s;
}

.footer__info {
    display: grid;
    text-align: center;
    gap: 0.5rem;
    font-weight: var(--font-semibold);
    color: var(--text-color);
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 768px) {
    .footer {
        padding-bottom: 1.5rem;
    }
    .footer__links {
        gap: 1.5rem;
    }
}