@import 'variables.css';
@import 'base.css';

.header {
    position: fixed;
    height: var(--header-height);
    padding: 0.75rem 1rem;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    color: var(--second-color);
    background-color: var(--first-color);
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.nav__logo {
    font-size: var(--normal-font-size);
    color: var(--second-color)
}

.nav__logo::after {
    content: ".";
    border-radius: 50%;
    color: var(--second-color);
    width: 4px;
    margin-left: 1px;
}

.nav__menu {
    position: fixed;
    inset: 0;
    background-color: var(--first-color);
    width: 100%;
    transition: .4s;
    z-index: var(--z-menu);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.active {
    visibility: visible;
}

.nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav__link {
    color: var(--second-color);
    font-weight: var(--font-bold);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--alternative-color);
}