@import 'variables.css';
@import 'base.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: hsl(230, 6%, 18%);
    z-index: var(--z-menu);
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    width: 30px;
    height: 35px;
    vertical-align: middle;
}

.header__toggle {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.41);
}

.header__drop {
    font-size: 2rem;
    cursor: pointer;
    color: #0bceaf;
}

.header__menu {
    font-size: 10px;
    font-weight: var(--font-regular);
    letter-spacing: 2px; 
}

.header__mail___link {
    color: var(--second-color);
}

.header__links,
.header__info {
    display: none;
}

.header__overlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 80px;
    bottom: 0;
    background-color: #252425;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    z-index: var(--z-menu);
    transition: .4s;
}

.header__overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.031);
}

.overlay__title {
    position: relative;
    top: -3rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: var(--font-semibold);
    color: var(--second-color);
}

.overlay__title::before {
    content: '';
    position: absolute;
    right: -40px;
    left: -100px;
    top: -10px;
    bottom: -10px;
    background: #0bceaf;
    z-index: -1;
}

.nav__link {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    color: var(--second-color);
    font-weight: var(--font-semibold);
    letter-spacing: 3px;
}

.hidden {
    display: none;
}

.header__nav___list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 92%;
}

.nav__item {
    width: 100%;
}

.nav__link:hover,
.nav__link:focus {
    color: #0bceaf;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 780px) {
    .nav__list {
        gap: 6rem;
    }

    .nav__close {
        top: 3rem;
        right: 3rem;
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        z-index: var(--z-menu);
        background-color: hsl(230, 6%, 18%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .header__logo {
        position: relative;
        float: left;
        width: 80px;
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header__img {
        width: 30px;
        height: 35px;
        vertical-align: middle;
    }

    .header__toggle {
       display: grid;
       gap: 2rem;
       margin: 0 auto; 
    }

    .header__menu {
        font-size: var(--tiny-font-size);
        font-weight: var(--font-semibold);
        justify-self: center;
        color: #8b8b8b;
        letter-spacing: 2px;
    }

    .header__info {
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 80px;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--first-color);
    }

    .header__mail___link {
        color: var(--second-color);
    }
    
    .nav__menu {
        position: inherit;
        display: flex;
        width: inherit;        
    }

    .nav__list {
        font-size: var(--nav-font-size);
        flex-direction: row;
        gap: 2rem;
    }

    .nav__link {
        font-weight: var(--font-regular);
    }

    #nav-close {
        display: none;
    }
}