@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
            Orange: hsl(12, 100%, 50%)  
            Blue: hsl(211, 100%, 48%)  
            Cyan: hsl(170, 90%, 43%) 
    */

    --first-hue: 170;
    --sat: 90%;
    --lig: 43%;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --second-color: hsl(0, 0%, 97%);
    --alternative-color: hsl(230, 6%, 18%);
    
    /*========== Font and typography ==========*/
    /*font-family: 'Poppins', sans-serif;
    font-family: 'IBM Plex Mono', monospace;*/

    --first-font: 'Poppins', sans-serif;
    --second-font: 
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --tiny-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*========== z index ==========*/
    --z-asset: -1;
    --z-fixed: 10;
    --z-menu: 100;
}

/*=============== RESPONSIVE ===============*/
@media screen and (max-width: 320px) {
    .nav__menu {
        padding: 1rem 1.5rem;
    }
}

@media screen and (min-width: 780px) {
    :root {
        --header-height: 4.5rem;

        --h1-font-size: 4rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2rem;
        --h4-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --tiny-font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --h1-font-size: 3.125rem;
        --h2-font-size: 2rem;
        --h3-font-size: 3rem;
        --h4-font-size: 2.25rem;
        --normal-font-size: 1rem;
        --tiny-font-size: .625rem;
        --nav-font-size: 1.25rem;
    }
}