@import 'variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

body {
    font-family: var(--first-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
    color: var(--first-color);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: var(--first-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CLASSES REUTILIZÁVEIS ===============*/
.main {
    overflow: clip;
}

.hide {
    opacity: 0;
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.background__footer {
    background-color: var(--third-color);
}

/*=============== SCROLL TOP ===============*/
.scroll__top{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: var(--z-fixed);
}

.scroll__icon {
    font-size: 3rem;
    color: var(--fifth-color);
}

/*=============== SCROLL ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--first-hue), 0%, 38%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--first-hue), 0%, 26%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--first-hue), 0%, 20%);
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 768px) {
    .scroll__top {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .scroll__icon {
        padding: .75rem;
    }
}