@import 'variables.css';
@import 'base.css';
@import '.header.css';

.footer {
    background-color: var(--third-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4.5rem 1.25rem;
    background-color: var(--third-color);
}

.footer__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__1 {
    gap: 1.25rem;
}

.footer__1-2 {
    gap: 1.25rem;
}

.footer__2 {
    gap: 2rem;
}

.footer__1,
.footer__1-2,
.footer__2 {
    display: flex;
    flex-direction: column;
}


.footer__title {
    font-weight: var(--font-bold);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__item {
    color: var(--fifth-color);
    font-size: 18px;
    font-weight: var(--font-regular);
}

.footer__item:hover,
.footer__link:hover {
    color: var(--second-color);
}

.footer__links {
    margin-top: .5rem;
    display: flex;
    gap: 1.5rem;
}

.footer__link {
    display: flex;
    width: max-content;
    font-size: var(--h4-font-size);
    color: var(--fifth-color);
}

.footer__link:hover {
    border-radius: 1rem;
    background-color: var(--first-color-alt);
    transition: .3s;
}

.footer__btn {
    background-color: var(--assets-color);
    color: var(--first-color);
    font-size: var(--h4-font-size);
    font-weight: var(--font-regular);
    padding: 1rem 1.5rem;
    max-width: 350px;
}

.footer__btn:hover {
    background-color: var(--second-color);
    color: var(--alternative-color);
}

.footer__info {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 16px;
    font-family: var(--second-font);
    font-weight: var(--font-light);
    color: var(--fifth-color);
}

.footer__text {
    line-height: 1.5;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.footer__divider {
    display: none;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 768px) {
    .footer__container {
        padding: 6rem 2rem 4.5rem;
        gap: 3rem;
    }

    .footer__main {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .footer__1 {
        width: calc(100% / 12 * 3);
        padding: 0 1rem;
    }

    .footer__1-2 {
        width: calc(100% / 12 * 3);
        padding: 0 1rem;
    }

    .footer__divider {
        display: inherit;
        width: calc(100% / 12 * 1);
        padding: 0 1rem;
    }

    .footer__2 {
        width: calc(100% / 12 * 5);
        padding: 0 1rem;
    }

    .footer__links {
        margin-top: .25rem;
        gap: 1.5rem;
    }

    .footer__btn {
        
    }

    .footer__info {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .footer__1-2 {
        width: calc(100% / 12 * 2);
    }

    .footer__divider {
        display: inherit;
        width: calc(100% / 12 * 2);
    }

    .footer__2 {
        width: calc(100% / 12 * 4);
    }
}

@media screen and (min-width: 1440px) {

}