@import 'variables.css';
@import 'base.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5rem;
    padding: 0 2rem;
    background-color: var(--body-color);
    z-index: var(--z-menu);
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 6.5rem;
    display: flex;
    align-items: center;
}

.header__img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.header__toggle {
    height: 6.5rem;
    display: flex;
    align-items: center;
}

.header__drop {
    padding-top: .5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.header__drop:hover {
    color: var(--second-color);
}

.header__menu {
    font-family: var(--second-font);
    font-weight: var(--font-semibold);
    font-size: var(--tiny-font-size);
    letter-spacing: 2px;
    color: var(--alternative-color);
}

.header__overlay {
    position: fixed;
    width: 100%;
    right: 0px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    background-color: var(--third-color);
    transition: .3s ease-in .2s;
    z-index: var(--z-menu);
}

.hover {
    color: var(--first-color);
}

.overlay__transition {
    right: -1000px;
}

.header__nav___list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: -7.5rem;
}

.nav__link {
    position: relative;
    font-size: var(--nav-font-size);
    z-index: var(--z-img);
}

.nav__link:hover {
    color: var(--second-color);
}

.overlay__links {
    display: flex;
    justify-content: center;
}

.overlay__link {
    display: flex;
    width: max-content;
    font-size: var(--h4-font-size);
    color: var(--alternative-color);
    margin: 0 .75rem;
}

.overlay__link:hover {
    cursor: pointer;
    border-radius: .75rem;
    color: var(--second-color);
    background-color: var(--first-color-alt);
}

.header__link:hover {
    color: var(--second-color);
}

.header__links,
.header__info,
.header__img-b,
.black,
.hidden {
    display: none;
}

.active {
    color: var(--second-color) !important;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 992px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__toggle {
        display: none;
    }

    .header__overlay {
        position: relative;
        width: auto;
        right: inherit;
        top: inherit;
        bottom: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        z-index: var(--z-menu);
        background-color: var(--body-color);
        transition: .3s ease-in .2s;
    }

    .overlay__transition {
        right: inherit;
    }

    .header__nav___list {
        position: relative;
        top: 0;
        left: 0;
        margin-top: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 2rem;
        background-color: var(--body-color);
    }

    .nav__link {
        color: var(--first-color-alt);
        line-height: inherit;
    }

    .overlay__links {
        display: none;
    }

    .header__links {
        position: relative;
        bottom: 0;
        display: flex;
        align-content: center;
        align-items: center;
        gap: 1.25rem;
        padding: 0rem;
    }

    .header__link {
        font-size: var(--h4-font-size);
        display: flex;
        width: max-content;
        color: var(--first-color-alt);
    }
}