@import 'variables.css';
@import 'base.css';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 10vh;
}

.home__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

.home__title {
    font-weight: var(--font-extrabold);
    line-height: clamp(1.2, 1.3, 1.4);
}

.home__span {
    color: var(--second-color);
}

.home__scroll-box {
    position: absolute;
    bottom: 3rem;
    margin: 0 auto;
    align-self: center;
}

.home__scroll {
    display: flex;
    flex-direction: column;  
}

.arrow__1,
.arrow__2,
.arrow__3 {
    font-size: 2rem;
    color: var(--first-color);
    margin-top: -1rem;
    -webkit-animation: sdb07 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
}

.arrow__1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.arrow__2 {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.arrow__3 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
  
@keyframes sdb {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 768px) {
    .home {
        padding-bottom: 5vh;
    }

    .home__br {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {
    .home__br {
       display: none;
    }
}