@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
            Orange: hsl(12, 100%, 50%)  
            Orange2: hsl(21, 100%, 50%)
            Blue: hsl(211, 100%, 48%)  
            Cyan: hsl(170, 90%, 43%) 
            Purple: hsl(250, 66%, 75%)
            Teal: hsl(174, 63%, 62%)
            Red: hsl(342, 100%, 50%) 
            Red: hsl(348, 100%, 50%)
            Blue: hsl(207, 90%, 72%)
            Pink: hsl(356, 66%, 75%)
            Yellow: hsl(46, 96%, 55%)
            Yellow: hsl(41, 100%, 50%)
            Black: hsl(0, 0%, 13%)
            Grey: hsl(0, 0%, 38%)
    */

    --hue: 0;
    --sat: 0%;
    --lig: 73%;

    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 52%); 
    --second-color: hsl(13, 100%, 50%);
    --third-color: hsl(var(--hue), var(--sat), 8%);
    --fourth-color: hsl(var(--hue), var(--sat), 37%);
    --fifth-color: hsl(var(--hue), var(--sat), 67%);
    --alternative-color: hsl(var(--hue), var(--sat)%, 100%);
    --assets-color: hsl(var(--hue), var(--sat), 1%);
    --body-color: hsl(var(--hue), var(--sat), 7%);
    
    /*========== Font and typography ==========*/
    /*font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;*/

    --first-font: 'Inter', sans-serif;
    --second-font: 'Source Sans Pro', sans-serif;
    --h1-font-size: 3rem;
    --nav-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --normal-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*========== z index ==========*/
    --z-after: -1;
    --z-img: 1;
    --z-fixed: 10;
    --z-menu: 100;
}

/*=============== RESPONSIVE ===============*/
@media screen and (min-width: 768px) {
    /*:root {
        --h1-font-size: 2.75rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 1.75rem;
        --normal-font-size: 1rem;
        --tiny-font-size: .75rem;
    }*/
}

@media screen and (min-width: 962px) {
    :root {
        --nav-font-size: 1rem;
    }
}



@media screen and (min-width: 1440px) {
    :root {
        
    }
}